# This should match the owning team set up in https://github.com/orgs/opensearch-project/teams
*   @opensearch-project/machine-learning
@b4sjoo
@dhrubo-os
@jngz-es
@model-collapse
@rbhavna
@wujunshen
@ylwu-amzn
@zane-neo
@Zhangxunmt