/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

grant {
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.util.PropertyPermission "*", "read,write";
    permission java.net.SocketPermission "*", "connect,resolve";
    permission java.io.FilePermission "<<ALL FILES>>", "read,write,execute,delete";
    permission java.lang.RuntimePermission "*";
};